<%- include("partials\\header.ejs")  %>
    <main>
        <section class="background-banner">
            <div class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">Book Review Hub</h1>
                        <p class="lead text-body-secondary">Curated reviews for readers who care about more than just star ratings. Explore detailed thoughts on plot, characters, and writing style, all summarized in a quick, scannable format. Use the cards below to build your next TBR (to‑be‑read) stack.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <!-- start -->
                    <% locals.books.forEach(book => { %>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/images/image.jpg" class="card-img-top" alt="..."> 
                            <div class="card-body">
                                <h5 class="card-title"><%=book.title %></h5>
                                <p class="card-text"><%=book.bookReview %></p>
                                <div class="d-flex align-items-center gap-2 my-3">
                                    <div id="rating" class="rating text-secondary fs-4">
                                        <i class="bi bi-star" data-value="1"></i>
                                        <i class="bi bi-star" data-value="2"></i>
                                        <i class="bi bi-star" data-value="3"></i>
                                        <i class="bi bi-star" data-value="4"></i>
                                        <i class="bi bi-star" data-value="5"></i>
                                    </div>
                                    <div class="text-muted"><span id="rating-value"><%=book.bookRatings %></span> Star</div>
                                </div>
                                <form id="reviewForm">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="submit" id="view" class="btn btn-sm btn-outline-secondary" value="view"
                                                formaction="/view">View</button>
                                            <button type="submit" id="edit" class="btn btn-sm btn-outline-secondary" value="edit"
                                                formaction="/edit">Edit</button>
                                            <button type="submit" id="delete" class="btn btn-sm btn-outline-danger" value="delete"
                                                formaction="/deleteReview/bookId">Delete</button>
                                        </div>
                                        <small class="text-body-secondary text-end"><%=book.lastUpdated %></small>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                    <!-- end -->
                </div>
                
            </div>
        </div>
    </main>
<%- include("partials\\footer.ejs") %>