<%- include("partials\\header.ejs") %>
    <main>
        <section class="background-banner">
            <div class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">Book Review Hub</h1>
                        <p class="lead text-body-secondary">Curated reviews for readers who care about more than just
                            star ratings. Explore detailed thoughts on plot, characters, and writing style, all
                            summarized in a quick, scannable format. Use the cards below to build your next TBR
                            (to‑be‑read) stack.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row g-3">
                    <!-- start -->
                    <!-- 
                    Common Items:
                        name = mainly captured by body parser attribute. can be static. req.body => { nameAttr: valAttr }
                        value = data stored in the field. we can use dynamic value by ejs to pass to backend.
                        id = dynamic id. like row < %= var % >. For front end JS to use
                        for = same as with input's "id". For front end JS to use
                        form action = we can make static unless we want to pass query params inside the request. 
                            but end points stays static. We can send query params as a request using fetch. 
                     -->
                    <% if (!locals.books || locals.books.length === 0) { %>
                     <div class="col">
                            No Books Found, Please create a new book record.
                    </div>
                    <% } %>
                    <% locals.books.length > 0 && locals.books.forEach(book=> { %>
                        <div class="col col-md-12 col-lg-4">
                            <div class="card shadow-sm">
                                <img src="<%= book.bookImage %> " class="card-img-top" alt="book-img-<%=book.bId %>" height="300" width="200">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%=book.title %>
                                    </h5>
                                    <p class="card-text small text-muted">
                                        <%=book.isbn %>
                                    </p>
                                    <p class="card-text book-review">
                                        <%=book.bookReview %>
                                    </p>
                                    <!-- /* */ -->
                                        <div class="mb-3 star-block">
                                        <div class="d-flex align-items-center gap-2">
                                            <div id="rating" class="rating text-secondary fs-4">
                                                <i class="bi bi-star" data-value="1"></i>
                                                <i class="bi bi-star" data-value="2"></i>
                                                <i class="bi bi-star" data-value="3"></i>
                                                <i class="bi bi-star" data-value="4"></i>
                                                <i class="bi bi-star" data-value="5"></i>
                                            </div>
                                            <div class="text-muted"><span id="rating-value" class="rating-text">
                                                    <%=book.bookRatings %>
                                                </span> Star</div>
                                        </div>
                                    </div>
                                    <!--  -->
                                    <form id="reviewGrid" method="post">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="submit" id="view-<%= book.bId %>" name="view"
                                                    class="btn btn-sm btn-outline-secondary"
                                                    data-bookID="<%=book.bId %>" value="<%= book.bId %>"
                                                    formaction="/view?_method=GET">View</button>
                                                <button type="submit" id="edit-<%= book.bId %>" name="edit"
                                                    class="btn btn-sm btn-outline-secondary"
                                                    data-bookID="<%=book.bId %>" value="<%= book.bId %>"
                                                    formaction="/edit?_method=GET">Edit</button>
                                                <button type="submit" id="delete-<%= book.bId %>" name="delete"
                                                    class="btn btn-sm btn-outline-danger" data-bookID="<%=book.bId %>"
                                                    value="<%= book.bId %>" onclick="return confirmDelete()"
                                                    formaction="/delete?_method=DELETE">Delete</button>
                                            </div>
                                            <small class="text-body-secondary text-end">
                                                <%=book.lastUpdated %>
                                            </small>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                            <!-- end -->
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-3">
                    <form action="/create?_method=GET" method="post">
                        <button type="submit" id="create" name="create" class="btn btn-sm btn-outline-secondary" value="add">Create
                            record</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <%- include("partials\\footer.ejs") %>