<%- include("partials\\header.ejs") %>
    <main>
        <div class="album py-5 bg-body-tertiary">
            <div class="container my-5">
                <!-- Back to Main -->
                <div class="display-3 text-center my-2">View Book Review</div>
                <div class="my-3">
                    <button type="button" class="btn btn-secondary" onclick="window.location.href='/'"><i class="bi bi-arrow-left-circle"></i>
                        Main Page</button>
                </div>
                <!-- start -->
                <% let {bId, title, isbn, bookImage, bookReview, bookRatings, lastUpdated  } = locals.book %>
                <div class="container my-5">
                    <!-- title -->
                    <div class="row">
                        <h1 class="display-6 text-muted"><%=title  %></h1>
                    </div>
                    <!-- Image -->
                    <div class="row">
                        <picture>
                            <!-- <source srcset="..." type="image/svg+xml"> -->
                            <img src="<%= bookImage %>" class="img-fluid img-thumbnail" height="300" width="300"
                                alt="Book-image">
                        </picture>
                    </div>
                    <!-- isbn -->
                    <div class="row">
                        <label for="book-isbn" class="lead mt-3">Book ISBN</label>
                        <p class="" id="book-isbn" name="book-isbn">
                           <%=isbn  %>
                        </p>
                    </div>
                    <!-- content -->
                    <div class="row">
                        <label for="book-review" class="lead mt-3">Book Review</label>
                        <p class="" id="book-review" name="book-review">
                           <%=bookReview  %>
                        </p>
                    </div>
                    <!-- rating -->
                    <div class="mb-3 star-block">
                        <label class="lead">Book Ratings</label>
                        <div class="d-flex align-items-center gap-2">
                            <div id="rating" class="rating text-secondary fs-4">
                                <i class="bi bi-star" data-value="1"></i>
                                <i class="bi bi-star" data-value="2"></i>
                                <i class="bi bi-star" data-value="3"></i>
                                <i class="bi bi-star" data-value="4"></i>
                                <i class="bi bi-star" data-value="5"></i>
                            </div>
                            <div class=""><span class="rating-text" id="rating-value" value="<%=book.bookRatings %>"><%=bookRatings  %></span> Star</div>
                        </div>
                    </div>
                    <!-- date -->
                    <div class="row">
                        
                        <p class="text-end small" id="last-updated">
                        <label for="last-updated" class="text-muted">Last Modified:</label>
                            <%= lastUpdated %>
                        </p>
                    </div>
                </div>
                <!-- end -->
            </div>
        </div>

    </main>
    <%- include("partials\\footer.ejs") %>